@import "../../styles/variables.scss";

.container {
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include flex(column, flex-start, center);
}

.main {
  flex: 1 1 auto;
}
